.rowStyle {
  margin-top: 75px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcomeBack {
  font-size: 2rem;
  color: #17b3a3;
  padding-left: 20px;
}

.button {
  background-color: #ff4c52;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
  background-color: #ff666b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
  background-color: #f2353c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
